In [147]:
import pandas as pd

data = pd.read_csv("/Users/siegmanA/Desktop/NYU-Projects-in-Programming-Fall-2019/(Class 7) Data Visualization/NYPD_Crashes.csv",low_memory=False)

data.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/13/2019,10:00,NaN,NaN,NaN,NaN,NaN,ELLINGTON PARKWAY,NaN,NaN,...,Following Too Closely,NaN,NaN,NaN,4206265,Sedan,Sedan,NaN,NaN,NaN
1,02/06/2013,11:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,2976030,OTHER,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
2,02/06/2013,12:29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PARKING LOT OF 70-11 PARSONS BOULEVARD,...,NaN,NaN,NaN,NaN,234940,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
3,02/06/2013,13:10,NaN,NaN,40.874499,-73.927609,POINT (-73.9276086 40.8744985),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2874747,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
4,09/13/2019,13:39,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER ROADWAY,NaN,NaN,...,NaN,NaN,NaN,NaN,4205809,Box Truck,NaN,NaN,NaN,NaN

In [148]:
data.dropna(subset=["LATITUDE","LONGITUDE"],inplace=True)

data.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
3,02/06/2013,13:10,NaN,NaN,40.874499,-73.927609,POINT (-73.9276086 40.8744985),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2874747,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
8,09/13/2019,21:15,BROOKLYN,11215,40.671160,-73.971420,POINT (-73.97142 40.67116),NaN,NaN,18 PROSPECT PARK WEST,...,NaN,NaN,NaN,NaN,4206285,Sedan,NaN,NaN,NaN,NaN
17,02/05/2013,12:30,NaN,NaN,40.697735,-73.814079,POINT (-73.8140794 40.6977347),NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,2997767,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
18,02/05/2013,18:10,NaN,NaN,40.606328,-74.079930,POINT (-74.0799299 40.6063283),NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3122183,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
19,02/05/2013,18:40,NaN,NaN,40.584775,-73.960108,POINT (-73.9601076 40.5847755),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2940781,PASSENGER VEHICLE,NaN,NaN,NaN,NaN

In [149]:
lat_long = data[["LATITUDE","LONGITUDE","DATE","TIME","BOROUGH","VEHICLE TYPE CODE 1"]]

In [150]:
lat_long.head()

,LATITUDE,LONGITUDE,DATE,TIME,BOROUGH,VEHICLE TYPE CODE 1
3,40.874499,-73.927609,02/06/2013,13:10,NaN,SPORT UTILITY / STATION WAGON
8,40.671160,-73.971420,09/13/2019,21:15,BROOKLYN,Sedan
17,40.697735,-73.814079,02/05/2013,12:30,NaN,PASSENGER VEHICLE
18,40.606328,-74.079930,02/05/2013,18:10,NaN,PASSENGER VEHICLE
19,40.584775,-73.960108,02/05/2013,18:40,NaN,PASSENGER VEHICLE

In [151]:
test = lat_long[:100]

In [152]:
test

,LATITUDE,LONGITUDE,DATE,TIME,BOROUGH,VEHICLE TYPE CODE 1
3,40.874499,-73.927609,02/06/2013,13:10,NaN,SPORT UTILITY / STATION WAGON
8,40.671160,-73.971420,09/13/2019,21:15,BROOKLYN,Sedan
17,40.697735,-73.814079,02/05/2013,12:30,NaN,PASSENGER VEHICLE
18,40.606328,-74.079930,02/05/2013,18:10,NaN,PASSENGER VEHICLE
19,40.584775,-73.960108,02/05/2013,18:40,NaN,PASSENGER VEHICLE
23,40.736353,-73.975009,02/04/2013,11:10,NaN,SPORT UTILITY / STATION WAGON
25,40.745823,-73.772420,09/11/2019,15:30,NaN,Sedan
26,40.700939,-73.806046,02/04/2013,15:00,QUEENS,PASSENGER VEHICLE
29,40.734982,-73.861387,02/04/2013,19:00,NaN,SPORT UTILITY / STATION WAGON
31,40.701651,-73.991484,02/04/2013,4:00,NaN,LARGE COM VEH(6 OR MORE TIRES)
33,40.789386,-73.782317,02/04/2013,8:20,NaN,SPORT UTILITY / STATION WAGON
35,40.757072,-73.969860,09/10/2019,14:10,NaN,Station Wagon/Sport Utility Vehicle
41,40.699955,-73.986820,09/10/2019,6:16,NaN,Sedan
47,40.764320,-73.977200,09/09/2019,14:50,MANHATTAN,Sedan
48,40.607780,-74.137011,02/02/2013,18:35,NaN,PASSENGER VEHICLE
49,40.713203,-73.977219,02/02/2013,20:55,NaN,PASSENGER VEHICLE
55,40.747092,-73.763239,02/01/2013,11:58,NaN,OTHER
62,40.768742,-73.908804,02/01/2013,4:30,NaN,SPORT UTILITY / STATION WAGON
63,40.751082,-73.749144,02/01/2013,8:00,NaN,LARGE COM VEH(6 OR MORE TIRES)
65,40.749478,-73.718444,02/01/2013,9:33,QUEENS,PASSENGER VEHICLE
79,40.797000,-73.937780,09/06/2019,15:05,MANHATTAN,Bike
81,40.754553,-73.743165,01/30/2013,11:15,NaN,PASSENGER VEHICLE
87,40.743011,-73.777566,01/30/2013,7:51,NaN,PASSENGER VEHICLE
92,40.842148,-73.900826,09/05/2019,7:45,BRONX,NaN
93,40.772966,-73.958256,01/29/2013,18:31,MANHATTAN,PASSENGER VEHICLE
96,40.702957,-73.902390,09/04/2019,0:48,QUEENS,Sedan
98,40.698120,-73.995460,09/04/2019,11:48,NaN,Van
101,40.708980,-73.804180,09/04/2019,13:20,QUEENS,NaN
102,40.748470,-73.870026,09/04/2019,15:12,QUEENS,Bike
109,40.584888,-73.928840,01/28/2013,18:35,NaN,PASSENGER VEHICLE
...,...,...,...,...,...,...
282,40.883872,-73.886946,01/11/2013,15:00,NaN,PASSENGER VEHICLE
289,40.703434,-73.740502,01/11/2013,19:30,QUEENS,PASSENGER VEHICLE
295,40.737210,-73.863930,08/17/2019,14:00,QUEENS,Sedan
297,40.801125,-73.929880,08/17/2019,17:37,NaN,Sedan
299,40.824295,-73.825584,08/17/2019,19:40,BRONX,Sedan
303,40.759933,-73.986350,08/16/2019,11:30,MANHATTAN,Sedan
307,40.879055,-73.874390,08/16/2019,1:00,NaN,Bike
309,40.583201,-73.973027,01/09/2013,15:00,NaN,PASSENGER VEHICLE
312,40.708767,-73.998108,01/09/2013,17:10,NaN,PASSENGER VEHICLE
313,40.740550,-73.788105,01/09/2013,19:00,NaN,PASSENGER VEHICLE
314,40.681637,-73.993920,08/15/2019,12:40,NaN,Sedan
315,40.799976,-73.958626,08/15/2019,14:10,NaN,Sedan
319,40.809864,-73.946434,08/15/2019,17:09,MANHATTAN,Sedan
320,40.727663,-73.929374,01/08/2013,10:45,NaN,PASSENGER VEHICLE
322,40.526894,-74.167280,08/15/2019,19:45,NaN,Sedan
324,40.695770,-73.747460,08/15/2019,20:28,NaN,Station Wagon/Sport Utility Vehicle
326,40.845190,-73.911200,08/15/2019,9:30,NaN,Sedan
329,40.722984,-73.951360,08/14/2019,11:55,BROOKLYN,DELIV
333,40.666502,-73.996189,01/07/2013,0:15,NaN,PASSENGER VEHICLE
334,40.864403,-73.923775,08/14/2019,16:26,NaN,Sedan
335,40.734882,-73.974840,08/14/2019,17:40,NaN,Sedan
341,40.596511,-73.907876,01/14/2013,18:18,BROOKLYN,PASSENGER VEHICLE
343,40.831140,-73.879776,08/13/2019,15:42,BRONX,Sedan
345,40.734251,-73.863351,01/06/2013,12:26,NaN,SPORT UTILITY / STATION WAGON
349,40.651104,-73.943810,08/12/2019,14:45,BROOKLYN,Bike
352,40.657020,-74.004731,01/10/2013,7:57,NaN,PASSENGER VEHICLE
364,40.771122,-73.869635,01/04/2013,5:30,NaN,PASSENGER VEHICLE
368,40.781667,-73.986689,01/03/2013,18:30,NaN,PASSENGER VEHICLE
369,40.816883,-73.962650,08/10/2019,3:40,NaN,Sedan
370,40.610745,-74.095829,01/03/2013,22:10,NaN,PASSENGER VEHICLE

In [153]:
lat_list = list(test['LATITUDE'])
lon_list = list(test['LONGITUDE'])

date_list = list(test['DATE'])
time_list = list(test['TIME'])
borough_list = list(test['BOROUGH'])
vehicle_list = list(test['VEHICLE TYPE CODE 1'])

---

In [161]:
# https://docs.bokeh.org/en/latest/

from bokeh.io import output_file, show 
from bokeh.models import *


map_options = GMapOptions(lat=40.7128, lng=-74.0060, map_type="roadmap", zoom=11)

plot = GMapPlot(x_range=Range1d(), y_range=Range1d(), map_options=map_options,api_key = "AIzaSyDl5U_JnDTgIVMftrDtXhSSW-ImtObs1AA")

source = ColumnDataSource(
    data = dict(
        lat=lat_list,
        lon=lon_list,
        date = date_list,
        time = time_list,
        borough = borough_list, 
        vehicle = vehicle_list
    ))

circle = Circle(x="lon", y="lat", size=15, fill_color="blue", fill_alpha=0.8, line_color=None)
plot.add_glyph(source, circle)

plot.add_tools(PanTool(), WheelZoomTool(), BoxSelectTool(), BoxZoomTool())

plot.title.text="NYC Accidents"

plot.add_tools(HoverTool(
    tooltips=[
        ( 'date',   '@date' ),
        ( 'time',  '@time' ), 
        ( 'borough', '@borough' ), 
        ( 'vehicle', '@vehicle' )
    ],

    formatters={
        'date' : 'datetime', # use 'datetime' formatter for 'date' field
        'time' : 'printf',
        'borough' : 'numeral',
        'vehicle' : 'numeral'
    },

    mode='vline'
))

# output_file("gmap_plot.html")

show(plot)

---

---

---